{% extends "layout.html" %}
{% block content %}
    <head>

        <style type="text/css">
            body { font-family: sans-serif; }
            h1 {
                font-family: serif;
                margin-bottom: 0;
            }
            article {
                width: 670px;
                margin-left: auto;
                margin-right: auto;
            }
            .image-wrapper {
                width: 200px;
                padding-right: 25px;
                padding-bottom: 10px;
            }
            .image-wrapper img {
                width: 300%;
            }
        
            .image-wrapper span {
                font-family: sans-serif;
                font-size: 10px;
                color: #ccc;
            }
        </style>
        
    </head>
    <body>
        <article>
            <h1>About the game of Cricket</h1>
            <p class="article-meta"><strong>By:</strong>Saksham Sharma, <strong>Published:</strong> 24 May 2022 </p>

            <div class="image-wrapper">
                <img src="\static\profile_pics\Cricket.jpg">
                <span>Image source: The WEB</span>
            </div>
            
            
            <p>
                The sport of cricket has a known history beginning in the late 16th century. Having originated in south-
east England, it became an established sport in the country in the 18th century and developed globally

in the 19th and 20th centuries. International matches have been played since the 19th-century and
formal Test cricket matches are considered to date from 1877. Cricket is the world's second most
popular spectator sport after association football (soccer).
            </p>
            <p>In 1744, the first Laws of Cricket were written and subsequently amended in 1774, when innovations
                such as lbw, a 3rd stump, - the middle stump and a maximum bat width were added. The codes were
                drawn up by the “Star and Garter Club” whose members ultimately founded the famous Marylebone
                Cricket Club at Lord's in 1787. MCC immediately became the custodian of the Laws and has made
                revisions ever since then to the current day</p>
            <p>Cricket was introduced to North America via the English colonies as early as the 17th century, and in
                the 18th century it arrived in other parts of the globe. It was introduced to the West Indies by colonists
                and to India by British East India Company mariners. It arrived in Australia almost as soon as colonisation
                began in 1788 and the sport reached New Zealand and South Africa in the early years of the 19th
                century.</p>
            <p>Matchesin cricket can range from informal weekend afternoon encounters on village greens to top-
                level international contests spread over five days in Test matches and played by leading professional
                players in grand stadiums. Some of the most famous cricketers in the world include - MS Dhoni ( Chennai Super Kings ) , Virat Kohli (India national cricket team ) Sachin Tendulkar , ( Mumbai
                cricket team ) , Chris Gayle ( West Indies cricket team ) , Brian Lara ( Warwickshire County Cricket Club ).</p>
            <p>Cricket games range from Twenty20, in which each team bats for a single 20-over innings and the game
                lasts around three hours, to Test matches, which last five days. Cricketers traditionally wear all-white
                uniforms, however in limited overs cricket, they wear club or team colours. Some players wear
                protective clothing in addition to their basic gear to avoid injury from the ball, which is a hard, solid
                spheroid made of compressed leather with a slightly raised sewed seam enclosing a cork core coated
                with tightly coiled string.</p>
            <p>The International Cricket Council (ICC) is the world’s governing body of cricket, with its headquarters in
                Dubai. It was created in 1909 by members from England, Australia, and South Africa as the Imperial
                Cricket Conference, then renamed the International Cricket Conference in 1965, and finally adopted its
                current name in 1989. In 2017, the ICC had 105 member countries, twelve of which were full members
                and could play Test cricket. The ICC is in charge of organising and governing cricket’s biggest
                international tournaments, particularly the men’s and women’s Cricket World Cups. It also names the
                umpires and referees for all sanctioned Test matches, Limited Overs Internationals, and Twenty20
                Internationals .</p>
            <p>You can play in the garden, in the park or even in the backyard and it’s great for kids and adults alike. It
                is a great sport for all ages because it’s easy to learn and play. The rules of cricket are quite simple to
                understand, making the game accessible for new players.Cricket provides all of the benefits of sports in
                general, as well as a unique appeal to which many factors contribute. One of the most important is how
                it handles time and space.</p>
            <p>Cricket, as the world’s first and oldest contemporary spectator sport, is associated with a bygone era of
                leisure and work routines. It preserves its own, antiquated time. Test cricket, in particular, resists the
                desire for rapid pleasure by providing something that develops over time and gains depth. This enlarged
                sense of time, I believe, also helps to mitigate the aggressive, hyperventilating individualism seen in
                many other sports.Like so many other sports developed by the English, it appears that they have suffered tremendous
                setbacks at the hands of other nations.Cricket matches, at all levels, are still viewed as much of a social interaction as a sporting activity, which
                helps to explain why the game remains so popular.</p>
            <p>When watching a cricket match on TV, it’s evident that many fans watch the game as an opportunity to
                get together with friends, drink beer, sing songs, and generally have a good time. Cricket only serves as a
                backdrop.Cricket on the village green appears to follow a similar pattern. The social component of the situation
                frequently appears to be more significant than the outcome</p>
            <p>Batting is the act or skill of hitting the ball with a bat to score runs and avoid losing one’s wicket in
                cricket. A hitter or batswoman is any player who is now batting, regardless of whether batting is their
                primary skill. Batsmen must adjust to diverse conditions when playing on different cricket pitches,
                especially in different nations; hence, top-level batsmen must have quick reflexes, strong decision-
                making, and be brilliant strategists in addition to possessing outstanding physical batting talents. During
                an innings, two members of the batting side are on the pitch at any given time: the striker, who is facing
                the bowler’s current delivery, and the non-striker.
            
            </p>

            <p><strong>Timeline:</strong></p>
            <ul style=“list-style-type:disc”>
            <li>In New York, the United States and Canada play the first ever international cricket match.</li>
            <li>1867: The first Australian cricket team, made up entirely of indigenous Australian players, tours
                England.</li>
            <li>On March 15, 1877, England and Australia played their first Test match.</li>
            <li>On May 12, 1890, the first official English cricket County Championship match was played.</li>
            <li>The Sheffield Shield tournament is started in Australia in 1892.</li>
            <li>Cricket was contested at the Paris Olympic Games in 1900, and a British team won.</li>
            <li>In 1970, the International Cricket Council (ICC) barred South Africa from international cricket
                competition indefinitely owing to their apartheid policies.</li>
            <li>The first “drop-in” pitches were used in 1970.</li>
            <li>Melbourne Cricket Ground hosts the first limited-over international match in 1971.</li>
            <li>The first Women’s Cricket World Cup took place in 1973.</li>

            
            </ul>


        </article>
    </body>
{% endblock content %}


